body {
  margin: 10px;
}

h1 {
  font-size: 60px;
  display: block;
  text-align: center;
}

h5 {
  font-size: 15px;
  color: grey;
  display: block;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

p {
  text-align: center;
}

a:hover {
  color: pink;
}

a:visited {
  color: purple;
}

.paragraphs {
  display: flex;
  justify-content: flex-start;
}

.plants {
  font-size: 20px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border: 5px solid #f7f0ff;
  background-color: #f7f0ff;
  border-radius: 10px 10px 10px 10px;
}

.plantsimg {
  width: 300px;
  padding: 20px;
}
.weatherappimg {
  width: 300px;
  padding: 20px;
}

.weatherapp {
  font-size: 20px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border: 5px solid #f7f0ff;
  background-color: #f7f0ff;
  border-radius: 20px 20px 20px 20px;
}

.portfolio {
  font-size: 20px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border: 5px solid #f7f0ff;
  background-color: #f7f0ff;
  border-radius: 20px 20px 20px 20px;
}

.portfoliofolder {
  display: block;
  margin: 30px auto;
  padding: 20px;
  width: 400px;
}

@media (max-width: 400px) {
  h2 {
    display: none;
  }
  .portfoliofolder {
    display: none;
  }
  img {
    display: none;
  }
  .weatherappimg {
    display: none;
  }
}
